.row{
    background-color: #333442;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23988cab' fill-opacity='0.29'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
h1 {
    text-align: center;
}
#input{
    text-align: right;
    padding: 30px;
    background-color: lightgray;
    border-radius: 50px 50px 0px 0px;
}
#output{
    text-align: right;
    @media (min-width: 1000px) {
        text-align: left;
    }
    padding: 30px;
    background-color: lightgray;
    border-radius: 0px 0px 50px 50px;
}
.subcontainer{
    position: relative;
    text-align: center;
}
.overlay1{
    position: absolute;
    top: 8px;
    left: 40px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    color: rgba(0,0,0,0.4);
}
.overlay2{
    position: absolute;
    top: 8px;
    left: 40px;
    @media (min-width: 1000px) {
        left: 88%;
    }
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    color: rgba(0,0,0,0.4);
}
.separator{
    color: rgba(0,0,0,0);
}
.col-3{
    text-align: center;
}
.other {
    background-color: blue;
    color: white;
}
.more {
    background-color: rgb(212, 212, 0);
}
.num {
    background-color: darkgray;
}
.add{
    background-color: darkgray;
}
button{
    font-family: "Josefin Sans", sans-serif;
    font-size: larger;
    width: 100%;
    padding: 16px;
    border-radius: 50px;
}