<div class="container">
  <div class="row" style="color: rgba(0,0,0,0);">___</div>
  <div class="row">
    <div class="col-12" id="input">
      <h2>0</h2>
    </div>
  </div>
  <div class="row" style="color: rgba(0,0,0,0);">___</div>
  <div class="row">
    <div class="col-3"><button>C</button></div>
    <div class="col-3"><button>%</button></div>
    <div class="col-3"><button>+/-</button></div>
    <div class="col-3"><button>/</button></div>
  </div>
  <div class="row" style="color: rgba(0,0,0,0);">___</div>
  <div class="row">
    <div class="col-3"><button>1</button></div>
    <div class="col-3"><button>2</button></div>
    <div class="col-3"><button>3</button></div>
    <div class="col-3"><button>*</button></div>
  </div>
  <div class="row" style="color: rgba(0,0,0,0);">___</div>
  <div class="row">
    <div class="col-3"><button>4</button></div>
    <div class="col-3"><button>5</button></div>
    <div class="col-3"><button>6</button></div>
    <div class="col-3"><button>-</button></div>
  </div>
  <div class="row" style="color: rgba(0,0,0,0);">___</div>
  <div class="row">
    <div class="col-3"><button>7</button></div>
    <div class="col-3"><button>8</button></div>
    <div class="col-3"><button>9</button></div>
    <div class="col-3"><button>+</button></div>
  </div>
  <div class="row" style="color: rgba(0,0,0,0);">___</div>
  <div class="row">
    <div class="col-3"><button>.</button></div>
    <div class="col-3"><button>0</button></div>
    <div class="col-3"><button><</button></div>
    <div class="col-3"><button>=</button></div>
  </div>
  <div class="row" style="color: rgba(0,0,0,0);">___</div>
  <div class="row">
    <div class="col-12" id="output">
      <h2>0</h2>
    </div>
  </div>
  <div class="row" style="color: rgba(0,0,0,0);">___</div>
</div>